{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="profile_view">
    <br>
    <h1>Saved Recipes</h1>
    <div class="recipe_grid">
        {% for recipe in recipes %}
        <div class="recipe_post">
            <div class="recipe_image">
                <a href="{% url 'view_recipe' recipe.pk %}">
                        {% if recipe.recipeImage %}
                            <img src="{{ recipe.recipeImage.url }}" alt="{{ recipe.recipeName }}">
                        {% else %}
                            <img src="media/images/default.png" alt="{{ recipe.recipeName }}">
                        {% endif %}
                </a>
            </div>
            <h3><a href="{% url 'view_recipe' recipe.pk %}">{{ recipe.recipeName }}</a></h3>
            <div class="sub_infoo">
                <p class="serving">
                    <i class="fas fa-utensils"></i>
                    {{ recipe.servings }}
                
                <p>
                    <i class="fas fa-clock"></i>
                    {{ recipe.cookTime }} minutes
                </p>
            </div>
            <div class="created_by">
                {% if recipe.createdBy.userprofile.profile_picture %}
                    <img src="{{ recipe.createdBy.userprofile.profile_picture.url }}" alt="{{ recipe.createdBy.username }}" class="profile_picture">
                {% else %}
                     <img src="/media/profile_pictures/default.jpg" alt="{{ recipe.createdBy.username }}" class="profile_picture">
                {% endif %}
                <p>{{ recipe.createdBy.first_name }} {{ recipe.createdBy.last_name }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}